<section class="todoapp">
  <header class="header">
    <h1>{{label}}</h1>
   
   
    <form (submit)="appendItem(newTodoInput.value); newTodoInput.value='' ">
      <input  #newTodoInput
              name        = "newTodoInput"
              class       = "new-todo"
              placeholder = "Que faire?"
             
             
              autofocus 
              />
    </form>
  </header>
  <!-- Function to select all or unselect the element in the todolist component -->
  <section class="main">
    <input  class="toggle-all"
            type="checkbox"
            name="toggleAll"
            
    />
    <ul class="todo-list">
      <li *ngFor="let item of todoList.items" >        
        <app-todo-item [item]="item" *ngIf="estVisible(item)"></app-todo-item>
      </li>
    </ul>
  </section>
  <footer class="footer">
    <span class="todo-count"><strong>{{nombre()}}</strong> restantes</span>
    <ul class="filters">
      <li>
        <a class="filterAll" (click)="setVisible('tous')"
        [class.selected]="visible === 'tous'"
        >Tous</a>
      </li>
      <li>
        <a class="filterActives" (click)="setVisible('actif')"
        [class.selected]="visible === 'actif'">Actifs</a>
      </li>
      <li>
        <a class="filterCompleted" (click)="setVisible('complet')"
        [class.selected]="visible === 'complet'">Complétés</a>
        
      </li>
     
    </ul>
    <button class="clear-completed" (click)="removeItems()" >Supprimer cochées</button>

  </footer>
</section>
<hr/>